.drink-list {
    margin-top: 10px;
    border-color: black;
    background-color: beige;
    border-radius: 15px;
    border: solid;
    min-height: 650px;
    max-height: 650px;

    overflow : scroll;
    scrollbar-width: thin;          
    scrollbar-color: beige white;

}

.drink-list::-webkit-scrollbar {
    display: none;
}