.drink-list {
    border-color: black;
    background-color: beige;
    border-radius: 15px;
    border: solid;
    min-height: 550px;
    max-height: 600px;
    box-shadow: 10px 10px 5px #aaaaaa;
    overflow : scroll;
    scrollbar-width: thin;          
    scrollbar-color: beige white;

}

.drink-list::-webkit-scrollbar {
    display: none;
}