    .container {
        h1 {
            color:white;
        }
        .search {
    
            
            background-color: white;
            color: black;
            width: 400px;
            font-size: 20px;
            padding: 8px;
            border-radius: 5px;
        }
            
        
        .searchButton{
            
            background-color: rgb(90, 88, 86);
            
            border: none;
            color: white;
            font-size: 22px;
            cursor: pointer;
            border-radius: 5px;
            padding: 9px;
        }
        
    }
    

